/* .form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  } */
  /* Default styles */
.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

/* Media queries for responsive styles */
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .form {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .form {
    text-align: center;
  }

  .form button {
    padding: 0.2rem 1.5rem;
    font-size: 0.9rem;
  }
}
