/* .card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
  }
   */
   /* Default styles */
.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}

/* Media queries for responsive styles */
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .card {
    padding: 0.75rem;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .card {
    padding: 0.5rem;
    border-radius: 8px;
  }
}
