/* .input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  } */
  /* Default styles */
.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

/* Media queries for responsive styles */
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .input label {
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  .input input {
    width: 2.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .input {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.25rem;
  }

  .input label {
    margin-bottom: 0.25rem;
  }

  .input input {
    width: 100%;
    font-size: 1rem;
  }
}
